{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Change Password Page</title>
</head>

<body>

    {% ifequal phase 1 %}

    <h1>Password Change Form</h1>
    <br>{{error}}<br><br>
    <form action="{% url 'forgot_password' %}" method="POST">
        {% csrf_token %}
        <label for="email">Enter your registered email:</label> {% if error %}
        <input type="email" name="email" id="email" value={{email}} placeholder="Enter your email" style="width: fit-content;" required> {% else %}
        <input type="email" name="email" id="email" placeholder="Enter your email" style="width: fit-content;" required> {% endif %}
        <br>
        <input type="submit" value="Send OTP">

    </form>

    {% endifequal %} {% ifequal phase 2 %}
    <form action="{% url 'forgot_password_verify_otp' %}" method="POST">
        <h1>OTP Verification</h1>
        {% if invalid_otp %}
        <br><br>
        <h3>Invalid OTP, Try Again</h3><br><br> {% endif %}
        <br> {% csrf_token %} {% if time_limit_reached %}
        <h3>Time limit exceeded, otp has been expired, we have sent a new otp at {{email}}, check it and re-enter.</h3>
        <label for="otp">Renter your otp</label> {% else %}
        <label for="otp">Enter the OTP sent to {{email}}</label> {% endif %}

        <input type="text" name="otp" placeholder="Enter your otp" required>
        <br>
        <input type="hidden" name="email" value={{email}}>
        <input type="submit" value="Verify OTP">
        <br><br><br>

        <a href="{% url 'forgot_password_resend_otp' email=email %}">Resend OTP</a>
    </form>
    {% endifequal %} {% ifequal phase 3 %}
    <h1>OTP Verification is succesfull, you can now change your password and don't forgot it again.</h1>
    <br>{{error}}<br><br>
    <form action="{% url 'reset_password' %}" method="POST" onsubmit="return validate_passwords()">
        {% csrf_token %}
        <label for="email">Email Address Associated:</label>
        <input type="email" name="email" value={{email}} style="width: fit-content;" readonly>
        <br>
        <label for="password1">New Password:</label>
        <input type="password" name="password1" id="password1" placeholder="Enter unique password" required>
        <br>
        <label for="password2">Confirm Password:</label>
        <input type="password" name="password2" id="password2" placeholder="Confirm your password" required>
        <br>
        <input type="submit" value="Change Password">
    </form>
    {% endifequal %} {% ifequal phase 4 %}
    <h1>Password has been successfully changed.</h1>
    <br>
    <br>
    <a href="{% url 'home' %}">Go to Home??</a>
    <br>
    <br>
    <a href="{% url 'login_request' %}">Go to Login Page??</a>
    <br> {% endifequal %}
    <script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
</body>

</html>
