<!DOCTYPE html>
<html>

<head>
    <title>Clean Frame Home Page</title>
</head>

<body>
    <h1>HOME PAGE OF CLEAN FRAME</h1>
    <br><br>
    <a href="{% url 'signup_student' %}">Signup as student</a>
    <br>
    <a href="{% url 'signup_company' %}">Signup as Company Professional</a>
    <br>
    <a href="{% url 'login_request' %}">Login</a>
    <br>
    <a href="{% url 'forgot_password' %}">Forgot Password?</a>
    <br>
    <a href="{% url 'logout_request' %}">Logout</a>
    <br>
</body>

</html>