{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha|Lato|Lobster|Ubuntu|Sacramento|Merriweather|Audiowide|Sofia|Trirong">
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type = "image/x-icon"> 
    <title>CleanFrame Login Page</title>
</head>

<body>
    <div class="hero">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" style="height: 105px; width: 150px;"></a>
        <div class="form-box">
            <div class="button-box">
                <button type="button" class="toggle-btn" onclick="login()">LogIn</button>
            </div>
            <h4 id="message" style="text-align: center; color: red;">{{error}}</h4>
            <form id="login" class="input-group" action="{% url 'login_request' %}" method="POST">
                {% csrf_token %} {% if useremail %}
                <input type="text" class="input-field" value={{useremail}} placeholder="Username / Email" name="user_email" required /> {% else %}
                <input type="text" class="input-field" placeholder="Username / Email" name="user_email" required /> {% endif %}
                <input type="password" class="input-field" name="password" placeholder="Password" required />
                <input type="checkbox" class="check-box" /><span>Remember me</span>
                <button type="submit" class="submit-btn">LogIn</button>
            </form>
            <a href="{% url 'forgot_password' %}" style="display: inline-block; position: absolute; text-align: right; margin-top: 69%; margin-left:230px; text-decoration: none; font-size: 0.9rem; font-family: sans-serif; color: firebrick;">Forgot Password</a>
            <a href="{% url 'signup_student' %}" style="display: inline-block; position: absolute; text-align: left; margin-top: 69%; margin-left:30px; text-decoration: none; font-size: 0.9rem; font-family: sans-serif; color: #161d6f;">Create a New Account</a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/timer.js' %}"></script>
</body>

</html>