{% extends 'dashboard/base.html' %} {% load static %}

<!--Write the title of the page-->
{% block title %}
<title>Dashboard {{request.user.email}}</title>
<link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon"> {% endblock %}


<!--Make the class active for the link you want-->
{% block sidebar_menu %}
<div class="sidebar-menu">
    <ul>
        <li>
            <a href="{% url 'dashboard' %}" class=""><span class="las la-igloo"></span>
            <span>Dashboard</span>
          </a>
        </li>
        <hr>
        <li>
            <a href="{% url 'profile' %}" class=""><span class="las la-id-card"></span>
            <span>Profile</span>
          </a>
        </li>
        {% if permissions.can_access_student_inactive_accounts %}
        <li>
            <a href="{% url 'student_account_signup_permit' %}"><span class="las la-graduation-cap"></span>
            <span>Student Accounts</span>
          </a>
        </li>
        {% endif %} {% if permissions.can_access_company_inactive_accounts %}
        <li>
            <a href="{% url 'company_account_signup_permit' %}"><span class="las la-user-tie"></span>
            <span>Company Accounts</span>
          </a>
        </li>
        {% endif %} {% if request.user.is_superuser or request.user.is_staff %} {% else %} {% ifequal request.user.last_name 'This_is_a_company_Associated_account' %}
        <li>
            <a href="{% url 'announcements' %}" class="active"><span class="las la-users"></span>
            <span>My Announcements</span>
          </a>
        </li>
        <li>
            <a href="{% url 'new_announcement_round' %}"><span class="las la-users"></span>
            <span>Announce New Round</span>
          </a>
        </li>
        <li>
            <a href="{% url 'new_announcement' %}"><span class="las la-users"></span>
            <span>New Announcement</span>
          </a>
        </li>
        <!--Student only-->
        {% else %}
        <li>
            <a href="{% url 'show_companies' %}"><span class="las la-users"></span>
            <span>Register</span>
          </a>
        </li>
        <li>
            <a href="{% url 'show_registrations' %}"><span class="las la-users"></span>
            <span>My Registrations</span>
          </a>
        </li>
        {% endifequal %} {% endif %}
    </ul>
</div>
{% endblock %}

<!--For the text at the top of panel 2-->
{% block dashboard_title %}
<a href="{% url 'dashboard' %}" style="text-decoration: none; color: black;">My Announcements</a> {% endblock %}

<!--For the user details displayed at the top right-->


<!--For the main section : 3-->
{% block section_main %}
<main>
    <div class="recent-grid1">
        <div class="projects">
            <div class="card">
                <div class="card-header">
                    <h3 style="margin-left: 13%;">All Announcements</h3>
                    <!-- <div id="myTable_filter" class="search-wrapper1">
                <span class="las la-search"></span>
                <input type="search" aria-controls="myTable" placeholder="Search User">
              </div> -->
                    <!-- <button type="button" name="See all">See all <span class="las la-arrow-right"></span></button> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive container">
                        <!-- <div id="myTable_filter" class="search-wrapper1 dataTables_filter">
                  <span class="las la-search"></span>
                  <input type="search" aria-controls="myTable" placeholder="Search User">
                </div> -->
                        <table id="myTable">
                            <thead id="thead">
                                <tr id="tr1" style="text-align: center;">
                                    <td>#ID</td>
                                    <td id="td1">Type</td>
                                    <td id="td2">Round</td>
                                    <td id="td3">Round Name</td>
                                    <td id="td4">Last Date</td>
                                    <td id="td5">File</td>
                                    <td id="td5">Result File</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for each in announcements %}
                                <tr id="tr1" style="text-align: center;">
                                    <td><a href="{% url 'edit_announcement' item=each.id %}">#{{each.id}}</a></td>
                                    {% if each.general_announcement %}
                                    <td>General</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    {% if each.file %}
                                    <td><a href="{{each.file.url}}">link</a></td>
                                    {% else %}
                                    <td>-</td>
                                    {% endif %} {% if each.file_for_prev_result %}
                                    <td><a href="{{each.file_for_prev_result.url}} ">link</a></td>
                                    {% else %}
                                    <td>-</td>
                                    {% endif%} {% else %}
                                    <td>New round</td>
                                    <td>{{each.internship_round}}</td>
                                    <td>{{each.round_name}}</td>
                                    <td>{{each.last_date_to_apply}}</td>
                                    {% if each.file %}
                                    <td><a href="{{each.file.url}}">link</a></td>
                                    {% else %}
                                    <td>-</td>
                                    {% endif %} {% if each.file_for_prev_result %}
                                    <td><a href="{{each.file_for_prev_result.url}} ">link</a></td>
                                    {% else %}
                                    <td>-</td>
                                    {% endif%} {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock %}