{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Profile Page</title>
</head>

<body>
    {% if request.user.is_authenticated %}
        {% ifequal phase 1 %}
            {% if contact_given %}
            <h2>Edit Profile</h2>
            <hr>
            {% if request.user.is_staff %}
                <!--Profile Update for staffs (bichare sirf first and last name change kar sakte🤣🤣)-->
                <form action="{% url 'staff_profile' %}" method="POST">
                    {% csrf_token %}
                    <label>Email: </label>
                    <input type="text" value="{{request.user.email}}" readonly><br>
                    <label for="first_name">First Name: </label>
                    <input type="text" name="first_name" value="{{request.user.first_name}}" placeholder="Enter first name" required><br>
                    <label for="last_name">Last Name: </label>
                    <input type="text" name="last_name" value="{{request.user.last_name}}" placeholder="Enter last name" required><br><br>
                    <input type="submit" value="Upload Changes">
                </form>
            {% else %}
                <!--Profile Update for students and company -->
                <!--PHONE NUMBER SECTION WOULD BE COMMON BETWEEN THE TWO-->
                

                <br><hr><hr><br>
                {% ifequal request.user.last_name 'This_is_a_company_Associated_account' %}
                    <!--GO FOR COMPANY PHASE 2-->
                    <form action="{% url 'company_profile_2' %}" method="POST">
                        {% csrf_token %}
                        <label>Email: </label>
                        <input type="text" value="{{request.user.email}}" readonly><br>
                        <label for="company_name">Company Name: </label>
                        <input type="text" name="company_name" value="{{request.user.first_name}}" placeholder="Enter company name" required><br>
                        <label for="address">Complete Address: </label>
                        <input type="text" name="address" value="{{data.complete_address}}" placeholder="Enter your address" required><br>
                        <h4>Internship Details</h4>
                        <label for="duration">Internship Duration(days): </label>
                        <input type="number" name="duration" value="{{data.internship_duration}}" placeholder="Enter duration of internship" required><br>
                        <label for="number_of_students">Students required: </label>
                        <input type="number" name="number_of_students" value="{{data.students_required}}" placeholder="Enter students required " required><br>
                        <label for="internship_position">Highest Position of Internship: </label>
                        <input type="text" name="internship_position" value="{{data.internship_position}}" placeholder="Enter highest position of internship offered" required><br>
                        <label for="minimum_cgpa">Minimum CGPA Required (out of 10.0): </label>
                        <input type="text" name="minimum_cgpa" value="{{data.minimum_cgpa}}" placeholder="Enter minimum cgpa required" required><br>
                        <label for="stipend">Maximum Stipend offered (in Rs.): </label>
                        <input type="text" name="stipend" value="{{data.stipend}}" placeholder="Enter maximum stipend" required><br>
                        <label for="pre1">Prerequisite(optional, use ** to separate 2 prerequisites): </label>
                        <input type="text" name="pre" value="{{data.prerequisite}}" placeholder="Enter prerequisites"><br>                      
                        <br><br>
                        <input type="submit" value="Upload Changes">
                    </form>
                {% else %}
                <h3>Upload your CV</h3>
                <!--PHASE 1, CV-->
                <form method="POST" action="{% url 'student_profile_1' %}"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="cv"><br>
                    <br>
                    <input type="submit" value="Upload CV">
                </form>
                <br><hr><br>
                    <h3>upload your photo</h3>
                    <!--PHASE 2, PHOTO-->
                    <form method="POST" action="{% url 'student_profile_2' %}"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="image"><br>
                        <br>
                        <input type="submit" value="Upload image">
                    </form>
                    <br><hr><br>
                    <!--PHASE 3, two more to go-->
                    <form action="{% url 'student_profile_3' %}" method="POST">
                        {% csrf_token %}
                        <label>Email: </label>
                        <input type="text" value="{{request.user.email}}" readonly><br>
                        <label for="first_name">First Name: </label>
                        <input type="text" name="first_name" value="{{request.user.first_name}}" placeholder="Enter first name" required><br>
                        <label for="last_name">Last Name: </label>
                        <input type="text" name="last_name" value="{{request.user.last_name}}" placeholder="Enter last name" required><br>
                        <label for="address">Complete Address: </label>
                        <input type="text" name="address" value="{{data.complete_address}}" placeholder="Enter your address" required><br>
                        <label>Gender:</label>
                        <select name="gender" required> 
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                                <option value="3">Transgender</option>
                        </select>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Now gender according to the database is : {{data.gender}}
                        <br><br>
                        <input type="submit" value="Upload Changes">
                    </form>
                {% endifequal %}
            {% endif %}
            <hr>
            {% else %}
                <h2>Your minimum profile requirements are pending, please fill them to proceed to dashboard.</h2>
            <br>{{error}}
            <hr>
            {% ifequal request.user.last_name 'This_is_a_company_Associated_account' %}
            <form action="{% url 'send_otp_to_phone_com' %}" method="POST" onsubmit="return validate_number()">
                {% csrf_token %}
                <label>Enter indian contact number:</label>
                <input type="number" id="contact_number" name="contact_number" {% if data.contact_number %} value="{{data.contact_number}}" {% endif %} placeholder="Enter an indian contact number" style="width: 200px;" required>
                <br>
                <label>Enter complete address:</label>
                <input type="text" name="address" {% if data.complete_address %} value="{{data.complete_address}}" {% endif %} placeholder="Enter your complete address" required>
                <br>
                <input type="submit" id="mybutton" value="Send OTP to phone">
            </form>
            {% else %}
            <form action="{% url 'send_otp_to_phone_stu' %}" method="POST" onsubmit="return validate_number()">
                {% csrf_token %}
                <label>Enter indian contact number:</label>
                <input type="number" id="contact_number" name="contact_number" {% if data.contact_number %} value="{{data.contact_number}}" {% endif %} placeholder="Enter an indian contact number" style="width: 200px;" required>
                <br>
                <label>Enter complete address:</label>
                <input type="text" name="address" {% if data.complete_address %} value="{{data.complete_address}}" {% endif %} placeholder="Enter your complete address" required>
                <br>
                <label>Choose gender:</label>
                <select name="gender" required> 
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                        <option value="3">Transgender</option>
                </select>
                <br>
                <input type="submit" id="mybutton" value="Send OTP to phone">
            </form>
            {% endifequal %}
            {% endif %}
        {% endifequal %}
<!--####################################################################-->        
        {% ifequal phase 2 %}
            <h2>Enter the otp sent to {{phone}}</h2>
            <br>{{error}}
            <hr>
            {% ifequal request.user.last_name 'This_is_a_company_Associated_account' %}
            <form action="{% url 'verify_otp_phone_com' %}" method="POST" onsubmit="return disable_button()">
                {% csrf_token %}
                <input type="text" name="otp" placeholder="Enter otp sent to {{phone}}" style="width: 300px;" required>
                <br>
                <input type="submit" id="mybutton" value="Verify OTP">
            </form><br>
            <a href="{% url 'resend_otp_to_phone_com' %}">Resend OTP?</a>
            {% else %}
            <form action="{% url 'verify_otp_phone_stu' %}" method="POST" onsubmit="return disable_button()">
                {% csrf_token %}
                <input type="text" name="otp" placeholder="Enter otp sent to {{phone}}" style="width: 300px;" required>
                <br>
                <input type="submit" id="mybutton" value="Verify OTP">
            </form><br>
            <a href="{% url 'resend_otp_to_phone_stu' %}">Resend OTP?</a>
            {% endifequal %}
        {% endifequal %}
<!--####################################################################-->        
        {% ifequal phase 3 %}
        <h2>Phone number has been succesfully verified</h2>
        <a href="{% url 'dashboard' %}">Go to dashboard?</a>
        {% endifequal %}
    {% else %}
        <h1>You are visiting a wrong page, please login and then you can change your profile.</h1>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/profile.js' %}"></script>
</body>

</html>