{% extends 'dashboard/base.html' %}
{% load static %}

<!--Write the title of the page-->
{% block title %}
  <title>Dashboard {{request.user.email}}</title>
  <link rel="icon" href="{% static 'img/logo.png' %}" type = "image/x-icon"> 
{% endblock %}


<!--Make the class active for the link you want-->
{% block sidebar_menu %}
    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="{% url 'dashboard' %}"><span class="las la-igloo"></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{% url 'profile' %}" class="active"><span class="las la-user-graduate"></span>
            <span>Profile</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-briefcase"></span>
            <span>Company</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-user-tie"></span>
            <span>Verify User</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
        <li>
          <a href=""><span class="las la-users"></span>
            <span>Add Staff</span>
          </a>
        </li>
      </ul>
    </div>
{% endblock %}

<!--For the text at the top of panel 2-->
{% block dashboard_title %}
    Profile
{% endblock %}

<!--For the user details displayed at the top right-->
