* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.profile_save_changes_btn{
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  width: 200px;
  /* margin: 10px 145px; */
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1.2rem;
}
.cards_form{
  background: #fff;
  border-radius: 30px;
  padding: 20px 20px;
  margin-top: 10%;
  width: 500px;
}
@media only screen and (max-width: 500px) {
  .cards_form{
    width: 350px;
    margin-left: 0px !important;
  }
  .input-field{
    width: 180px !important;
    padding-right: 5px !important;
  }
  table tr td{
    padding-left: 0;
    padding-right: 0;
  }
}
/* form{
  display: inline-block;
} */
form.is-readonly .btn-save{
  display: none;
}
form.is-readonly input[disabled], form.is-readonly textarea[disabled], form.is-readonly select[disabled]{
  cursor: text;
  background-color: #fff;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
  color: black;
}
form.is-editing .btn-edit {
  display: none;
}
/* form.is-editing #btn_img:hover {
  background-color: unset;
  opacity:unset;
  filter:unset;
} */
.container {
  position: relative;
  display: block;
  margin-left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100px;
  height: 100px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 35px 15px;
  text-align: center;
  border-radius: 50%;
}
.container:hover .overlay {
  opacity: .5;
}
#btn_img{
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.custom-file-upload{
  background: #f7f7f7;
  padding: 8px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.profile_save_changes_btn1{
  padding: 5px 15px;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  background: linear-gradient(to right, rgba(106, 17, 203, 0.5), rgba(37, 117, 252, 0.5));
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: Poppins;
  font-size: 1.2rem;
}
label{
  font-size: 1.2rem;
}
.myicon{
  font-size: 1.7rem;
  margin-top: 10px;
}
input{
  width : unset !important;
}
.my_table{
  display: inline-block;
  align-items: center;
  justify-content: center;
}
form{
  display: inline-block !important;
  align-items: center;
  justify-content: center;
}
.input-field {
    padding: 8px 15px;
    margin: 5px 5px;
    border: 2px solid #0000003c;
    outline: none;
    background: #cccccc3c;
    font-family: Poppins;
    font-size: 1rem;
    border-radius: 30px;
}
